In [1]:
import pandas as pd 
import numpy as np

In [122]:
#load in the 72-hour data with the rest/activity indicators 
day_night_data = pd.read_csv("Sleep_Mortality_Code/Data/hr_act_avgs.csv")

In [123]:
day_night_data.rename(columns={'Unnamed: 0': 'original_index'}, inplace=True)

In [259]:
len(day_night_data["su_id"].unique())

689

In [257]:
def process_data(df):
    unique_su_ids = df['su_id'].unique()
    final_df = pd.DataFrame(columns=['su-id', 'activity-average', 'day/night'])

    
    for su_id in unique_su_ids:
        temp_df = process_su_id(df, su_id)
        final_df = pd.concat([final_df, temp_df], ignore_index=True)
        
    return final_df

In [262]:
def process_su_id(df, su_id):
    subdata = df[df.su_id == su_id]
    subdata = subdata.reset_index()
    subdata['original_index'] = np.arange(len(subdata))
    subdata['index'] = np.arange(len(subdata))
    new_df = pd.DataFrame(columns=['su-id', 'activity-average', 'day/night'])
    
    try:
        nights = get_nights(subdata)
        days = get_days(subdata, nights)

        night = 1
        for window in nights:
            if (window[1] - window[0] + 1 == 0):
                continue
            activity_avg = get_average(subdata, window)
            new_df.loc[len(new_df.index)] = [su_id, activity_avg, 'night' + str(night)]

            night += 1

        day = 1
        for window in days:
            if (window[1] - window[0] + 1 == 0):
                continue
            activity_avg = get_average(subdata, window)
            new_df.loc[len(new_df.index)] = [su_id, activity_avg, 'day' + str(day)]

            day += 1
    except:
        new_df = pd.DataFrame(columns=['su-id', 'activity-average', 'day/night'])
        return new_df
    finally:
        return new_df
    return new_df

In [265]:
new = process_data(day_night_data)
new

         su-id  activity-average day/night
0     10000100          7.250000    night1
1     10000100         17.766667    night2
2     10000100         10.925000    night3
3     10000100         46.982972      day1
4     10000100         73.547059      day2
...        ...               ...       ...
4658  10043980          6.754167    night3
4659  10043980         61.232143      day1
4660  10043980         73.557292      day2
4661  10043980         82.678125      day3
4662  10043980         89.387865      day4

[4663 rows x 3 columns]

In [289]:
new.loc[new['day/night'].str.contains("night"),'status'] = 'night'
new.loc[new['day/night'].str.contains("day"),'status'] = 'day'

In [290]:
new

         su-id  activity-average day/night status
0     10000100          7.250000    night1  night
1     10000100         17.766667    night2  night
2     10000100         10.925000    night3  night
3     10000100         46.982972      day1    day
4     10000100         73.547059      day2    day
...        ...               ...       ...    ...
4658  10043980          6.754167    night3  night
4659  10043980         61.232143      day1    day
4660  10043980         73.557292      day2    day
4661  10043980         82.678125      day3    day
4662  10043980         89.387865      day4    day

[4663 rows x 4 columns]

In [322]:
#get average and standard deviation of days/nights 
dn_means = new.groupby(['su-id', 'status'],  as_index=False)["activity-average"].agg(['mean'])

In [324]:
#df2=df.pivot(index='countries', columns='metrics', values='values')
pivot_mean = dn_means.pivot_table(index = 'su-id', columns = 'status', values = 'mean' )

In [326]:
pivot_mean = pivot_mean.rename(columns={'day': 'day_mean', 'night': 'night_mean'})

In [328]:
dn_stds = new.groupby(['su-id', 'status'],  as_index=False)["activity-average"].agg(['std'])

In [329]:
pivot_std = pivot_std.rename(columns={'day': 'day_std', 'night': 'night_std'})

In [331]:
pivot_std

status      day_std  night_std
su-id
10000100  23.685189   5.337201
10000200  26.773715   2.338468
10000300  13.743435  12.264820
10000390  31.761544   4.817667
10000391  27.580302   4.958227
...             ...        ...
10043741   4.865689   0.852780
10043770  16.001105   6.359299
10043790  17.818507   2.006469
10043791  14.822356   2.559212
10043980  12.190848   1.066956

[686 rows x 2 columns]

In [332]:
dn_stats = pivot_mean.merge(pivot_std, on='su-id', how='inner')

In [333]:
dn_stats

status      day_mean  night_mean    day_std  night_std
su-id
10000100   71.364463   11.980556  23.685189   5.337201
10000200  130.585764    7.466139  26.773715   2.338468
10000300   52.996441   16.945602  13.743435  12.264820
10000390   38.306918   13.287963  31.761544   4.817667
10000391   72.864729   21.115079  27.580302   4.958227
...              ...         ...        ...        ...
10043741   70.247527   11.557272   4.865689   0.852780
10043770  122.474307   16.622698  16.001105   6.359299
10043790   55.372563   15.508148  17.818507   2.006469
10043791   84.900962   14.439352  14.822356   2.559212
10043980   76.713856    6.892747  12.190848   1.066956

[686 rows x 4 columns]

In [334]:
dn_stats.to_csv('day_night_stats.csv')

In [264]:
len(new["su-id"].unique())

686

In [266]:
for s in day_night_data["su_id"].unique(): 
    if s not in new["su-id"].unique(): 
        print(s)

10000330
10016640
10037310

In [ ]:
#manually determine the activity averages for days/nights on these 3

In [270]:
err1 = day_night_data[day_night_data["su_id"] == 10000330]

In [271]:
len(err1)

73

In [277]:
#they sleep only once in 72 hours? something's up
#same in R, might be that they used a different subset of hours for their actigraphy records
err1.tail(24)

     original_index     su_id             hr      hract  rest_ratio
254             255  10000330  2010-11-14 17  33.566667   -0.300000
255             256  10000330  2010-11-14 18  29.983333   -1.000000
256             257  10000330  2010-11-14 19  62.700000   -1.000000
257             258  10000330  2010-11-14 20  42.766667   -1.000000
258             259  10000330  2010-11-14 21  14.216667   -1.000000
259             260  10000330  2010-11-14 22  14.183333   -1.000000
260             261  10000330  2010-11-14 23  33.916667   -1.000000
261             262  10000330  2010-11-15 00  22.183333    0.233333
262             263  10000330  2010-11-15 01  18.666667    1.000000
263             264  10000330  2010-11-15 02  11.616667    1.000000
264             265  10000330  2010-11-15 03  17.333333    1.000000
265             266  10000330  2010-11-15 04  57.250000    1.000000
266             267  10000330  2010-11-15 05  54.533333    1.000000
267             268  10000330  2010-11-15 06  23.316667    1.000000
268             269  10000330  2010-11-15 07   3.416667   -0.266667
269             270  10000330  2010-11-15 08  61.966667   -1.000000
270             271  10000330  2010-11-15 09  30.283333   -1.000000
271             272  10000330  2010-11-15 10   6.816667   -1.000000
272             273  10000330  2010-11-15 11  18.950000   -1.000000
273             274  10000330  2010-11-15 12  61.100000   -1.000000
274             275  10000330  2010-11-15 13  26.183333   -1.000000
275             276  10000330  2010-11-15 14  26.683333   -1.000000
276             277  10000330  2010-11-15 15  21.600000   -1.000000
277             278  10000330  2010-11-15 16  10.625000   -1.000000

In [278]:
err2 = day_night_data[day_night_data["su_id"] == 10016640]

In [279]:
len(err2)

64

In [281]:
#another no sleeper... 
err2.head(40)

       original_index     su_id             hr       hract  rest_ratio
17459           17460  10016640  2010-09-30 15   60.226415   -1.000000
17460           17461  10016640  2010-09-30 16   67.916667   -1.000000
17461           17462  10016640  2010-09-30 17   28.400000   -1.000000
17462           17463  10016640  2010-09-30 18   29.583333   -1.000000
17463           17464  10016640  2010-09-30 19   30.666667   -1.000000
17464           17465  10016640  2010-09-30 20   54.566667   -1.000000
17465           17466  10016640  2010-09-30 21   27.238095   -1.000000
17466           17467  10016640  2010-10-01 10   85.181818   -1.000000
17467           17468  10016640  2010-10-01 11   80.683333   -1.000000
17468           17469  10016640  2010-10-01 12   30.400000   -1.000000
17469           17470  10016640  2010-10-01 13    5.466667   -0.533333
17470           17471  10016640  2010-10-01 14   86.300000   -1.000000
17471           17472  10016640  2010-10-01 15  134.850000   -1.000000
17472           17473  10016640  2010-10-01 16  278.866667   -1.000000
17473           17474  10016640  2010-10-01 17  183.133333   -1.000000
17474           17475  10016640  2010-10-01 18   67.233333   -1.000000
17475           17476  10016640  2010-10-01 19   73.333333   -1.000000
17476           17477  10016640  2010-10-01 20   73.400000   -1.000000
17477           17478  10016640  2010-10-01 21   67.266667   -1.000000
17478           17479  10016640  2010-10-01 22   60.916667   -1.000000
17479           17480  10016640  2010-10-01 23  140.489362   -1.000000
17480           17481  10016640  2010-10-02 10   82.866667   -1.000000
17481           17482  10016640  2010-10-02 11   65.716667   -1.000000
17482           17483  10016640  2010-10-02 12   90.600000   -1.000000
17483           17484  10016640  2010-10-02 13  130.450000   -1.000000
17484           17485  10016640  2010-10-02 14   63.733333   -1.000000
17485           17486  10016640  2010-10-02 15   71.316667   -1.000000
17486           17487  10016640  2010-10-02 16   56.683333   -1.000000
17487           17488  10016640  2010-10-02 17   61.866667   -1.000000
17488           17489  10016640  2010-10-02 18   50.800000   -1.000000
17489           17490  10016640  2010-10-02 19   38.190476   -1.000000
17490           17491  10016640  2010-10-03 09  128.425000   -1.000000
17491           17492  10016640  2010-10-03 10   54.983333   -1.000000
17492           17493  10016640  2010-10-03 11   69.100000   -1.000000
17493           17494  10016640  2010-10-03 12   70.550000   -1.000000
17494           17495  10016640  2010-10-03 13   68.066667   -1.000000
17495           17496  10016640  2010-10-03 14   82.166667   -1.000000
17496           17497  10016640  2010-10-03 15   95.116667   -1.000000
17497           17498  10016640  2010-10-03 16   50.400000   -1.000000
17498           17499  10016640  2010-10-03 17   58.316667   -1.000000

In [282]:
err3 = day_night_data[day_night_data["su_id"] == 10037310]

In [286]:
#we can probably manually calculate nights/days here 
err3.head(40)

       original_index     su_id             hr       hract  rest_ratio
40746           40747  10037310  2010-10-15 18   58.648649   -1.000000
40747           40748  10037310  2010-10-15 19   25.183333   -0.833333
40748           40749  10037310  2010-10-15 20    9.283333    1.000000
40749           40750  10037310  2010-10-15 21   20.500000    1.000000
40750           40751  10037310  2010-10-15 22   45.300000    1.000000
40751           40752  10037310  2010-10-15 23   26.216667    1.000000
40752           40753  10037310  2010-10-16 00   10.600000    1.000000
40753           40754  10037310  2010-10-16 01    2.933333    1.000000
40754           40755  10037310  2010-10-16 02    7.616667    1.000000
40755           40756  10037310  2010-10-16 03   23.553571    1.000000
40756           40757  10037310  2010-10-16 04    7.966667    1.000000
40757           40758  10037310  2010-10-16 05   17.483333    0.900000
40758           40759  10037310  2010-10-16 18   29.744681   -1.000000
40759           40760  10037310  2010-10-16 19   33.166667   -1.000000
40760           40761  10037310  2010-10-16 20   20.916667   -0.433333
40761           40762  10037310  2010-10-16 21   21.150000    1.000000
40762           40763  10037310  2010-10-16 22    7.483333    1.000000
40763           40764  10037310  2010-10-16 23    3.883333    1.000000
40764           40765  10037310  2010-10-17 00   24.133333    1.000000
40765           40766  10037310  2010-10-17 01   13.133333    1.000000
40766           40767  10037310  2010-10-17 02    3.666667    1.000000
40767           40768  10037310  2010-10-17 03   20.633333    1.000000
40768           40769  10037310  2010-10-17 04   23.766667    1.000000
40769           40770  10037310  2010-10-17 05   11.983051    0.864407
40770           40771  10037310  2010-10-17 19   38.680000   -0.720000
40771           40772  10037310  2010-10-17 20    3.983333    1.000000
40772           40773  10037310  2010-10-17 21    4.050000    1.000000
40773           40774  10037310  2010-10-17 22    8.666667    1.000000
40774           40775  10037310  2010-10-17 23    7.383333    1.000000
40775           40776  10037310  2010-10-18 00   14.300000    1.000000
40776           40777  10037310  2010-10-18 01    2.850000    1.000000
40777           40778  10037310  2010-10-18 02   25.416667    1.000000
40778           40779  10037310  2010-10-18 03   27.316667    0.266667
40779           40780  10037310  2010-10-18 04  112.977778   -1.000000
40780           40781  10037310  2010-10-18 05   46.350000   -1.000000
40781           40782  10037310  2010-10-18 06  115.900000   -1.000000
40782           40783  10037310  2010-10-18 19  100.000000   -1.000000
40783           40784  10037310  2010-10-18 20   11.966667    0.766667
40784           40785  10037310  2010-10-18 21   34.050000    1.000000
40785           40786  10037310  2010-10-18 22   17.033333    1.000000

In [246]:
process_data(day_night_data)

[10000100 10000200 10000300 10000330 10000390 10000391 10000470 10000471
 10000570 10000590 10000591 10000650 10000651 10000770 10000771 10000980
 10000981 10001170 10001230 10001231 10001300 10001301 10001330 10001380
 10001610 10001611 10001630 10001740 10001890 10001900 10001950 10002050
 10002170 10002270 10002271 10002300 10002301 10002460 10002540 10002600
 10002660 10002661 10002970 10002980 10003140 10003201 10003310 10003311
 10003460 10003461 10003560 10003970 10004070 10004150 10004270 10004360
 10004441 10004470 10004471 10004580 10004660 10004661 10004700 10004750
 10004790 10004840 10004860 10004930 10004931 10005070 10005071 10005080
 10005090 10005100 10005101 10005110 10005111 10005130 10005240 10005290
 10005291 10005300 10005301 10005370 10005830 10005831 10005840 10005841
 10005930 10006051 10006120 10006350 10006351 10006380 10006510 10006540
 10006740 10006800 10006810 10006811 10006890 10006900 10006901 10006970
 10007000 10007070 10007110 10007180 10007220 10007380 10007400 10007401
 10007411 10007450 10007470 10007550 10007551 10007680 10007920 10007930
 10008200 10008240 10008310 10008501 10008561 10008700 10008701 10008760
 10008761 10008930 10008950 10008951 10008990 10009140 10009141 10009180
 10009220 10009270 10009290 10009300 10009310 10009410 10009440 10009451
 10009460 10009550 10009551 10009560 10009631 10009670 10009671 10009760
 10009761 10009850 10009950 10009980 10009990 10010010 10010020 10010040
 10010070 10010180 10010270 10010280 10010281 10010440 10010450 10010451
 10010650 10010670 10010700 10010701 10010720 10010730 10010740 10010800
 10010901 10011130 10011260 10011261 10011390 10011480 10011560 10011591
 10011780 10011951 10012320 10012330 10012400 10012510 10012520 10012590
 10012840 10012841 10012860 10012870 10012871 10012930 10012931 10012960
 10012990 10013060 10013110 10013130 10013150 10013170 10013300 10013390
 10013470 10013480 10013481 10013510 10013560 10013570 10013580 10013581
 10013590 10013640 10014060 10014061 10014220 10014221 10014290 10014380
 10014390 10014480 10014500 10014600 10014690 10014691 10014710 10014711
 10014870 10014880 10014881 10015050 10015060 10015200 10015320 10015380
 10015440 10015620 10015700 10015920 10015921 10015940 10015941 10016131
 10016340 10016451 10016480 10016580 10016630 10016640 10016680 10016681
 10016770 10016810 10016811 10016880 10016920 10016931 10016960 10017170
 10017171 10017330 10017331 10017370 10017380 10017430 10017600 10017610
 10017680 10017771 10017790 10017791 10017810 10017811 10017861 10017920
 10017940 10018000 10018130 10018450 10018451 10018530 10018531 10018570
 10018571 10018580 10018760 10018761 10018800 10018860 10018900 10018901
 10018930 10018971 10019020 10019290 10019350 10019370 10019400 10019401
 10019410 10019411 10019470 10019500 10019550 10019551 10019780 10019820
 10019821 10019850 10019851 10019920 10019970 10020121 10020200 10020360
 10020361 10020390 10020471 10020520 10020530 10020540 10020550 10020630
 10020631 10020660 10020741 10020930 10020950 10020951 10021090 10021091
 10021150 10021151 10021220 10021250 10021260 10021280 10021320 10021321
 10021350 10021351 10021420 10021430 10021450 10021521 10021550 10021740
 10021800 10021830 10021860 10021910 10021911 10021980 10022050 10022051
 10022140 10022150 10022210 10022280 10022400 10022430 10022440 10022451
 10022460 10022480 10022530 10022700 10022830 10022870 10022871 10022960
 10023020 10023021 10023090 10023130 10023210 10023211 10023260 10023320
 10023321 10023490 10023520 10023620 10023621 10023640 10023770 10023771
 10023790 10023791 10023820 10024050 10024090 10024200 10024201 10024260
 10024340 10024600 10024650 10024651 10024680 10024681 10024710 10024770
 10024771 10024830 10024980 10025060 10025070 10025090 10025510 10025680
 10025681 10025740 10025741 10025760 10025770 10025860 10026180 10026181
 10026230 10026320 10026360 10026410 10026411 10026490 10027170 10027261
 10027310 10027320 10027330 10027610 10027620 10027621 10027680 10027681
 10027810 10027850 10028370 10028390 10028480 10028490 10028491 10028530
 10028550 10028551 10028690 10028691 10028870 10028890 10028891 10028960
 10028970 10029160 10029290 10029370 10029371 10029400 10029680 10029930
 10030070 10030071 10030290 10030340 10030350 10030351 10030480 10030550
 10030610 10030680 10030730 10030770 10030800 10030850 10030851 10030920
 10030930 10031160 10031180 10031320 10031380 10031500 10031530 10031531
 10031540 10031541 10031830 10031840 10031890 10031950 10031980 10031981
 10032031 10032110 10032200 10032201 10032240 10032300 10032310 10032331
 10032360 10032430 10032640 10032670 10032690 10032691 10032740 10032950
 10032960 10032980 10032981 10033050 10033060 10033330 10033350 10033351
 10033440 10033441 10033520 10033530 10033540 10033600 10033601 10033690
 10033691 10033790 10033850 10033930 10033931 10034050 10034060 10034140
 10034200 10034300 10034410 10034550 10034650 10034651 10034720 10034721
 10034780 10034810 10034890 10035080 10035121 10035180 10035290 10035440
 10035441 10035710 10035780 10035820 10035821 10036000 10036001 10036010
 10036011 10036040 10036080 10036150 10036190 10036191 10036210 10036211
 10036240 10036290 10036291 10036430 10036431 10036620 10036630 10036660
 10036680 10036690 10036691 10036730 10036740 10036750 10036780 10036900
 10036930 10036931 10037020 10037030 10037040 10037041 10037101 10037110
 10037111 10037190 10037310 10037350 10037360 10037361 10037430 10037540
 10037690 10037790 10037950 10037970 10038150 10038170 10038210 10038240
 10038260 10038261 10038270 10038340 10038350 10038351 10038390 10038391
 10038830 10038831 10038951 10039000 10039040 10039310 10039520 10039650
 10039680 10039681 10039690 10039720 10039790 10039820 10039821 10039880
 10039881 10039910 10039911 10039930 10039940 10039950 10040020 10040040
 10040131 10040310 10040470 10040490 10040580 10040620 10040880 10040961
 10041050 10041090 10041150 10041220 10041390 10041640 10041641 10042010
 10042060 10042130 10042150 10042310 10042370 10042440 10042441 10042560
 10042590 10042730 10042950 10043130 10043210 10043250 10043251 10043340
 10043360 10043400 10043410 10043411 10043490 10043530 10043580 10043640
 10043670 10043671 10043680 10043740 10043741 10043770 10043790 10043791
 10043980]

KeyError: '[41 42 43 44 45 46 47 48 49 50 51 52 53] not found in axis'

In [138]:
def get_days(subdata, nights):
    length = subdata.size
    sorted_nights = sorted(nights, key=lambda x: x[0])
    
    days = []
    
    if (sorted_nights[0][0] != 0):
        days.append([0, sorted_nights[0][0] - 1])
    days.append([sorted_nights[0][1] + 1, sorted_nights[1][0] - 1])
    days.append([sorted_nights[1][1] + 1, sorted_nights[2][0] - 1])
    if (sorted_nights[2][1] != len(subdata)):
        days.append([sorted_nights[2][1] + 1, len(subdata) - 1])    
    
    return days

In [25]:
def get_average(subdata, window):
    hract_sum = 0
    for index, row in subdata.iterrows():
        if index >= window[0] and index <= window[1]:
            hract_sum += row["hract"]
    return hract_sum / (window[1] - window[0] + 1)

In [240]:
def get_nights(subdata):
    k = 3
    all_indices = []
    
    for i in range(0, k):
        
        if i > 0:
            indices_to_drop = [x for x in range(all_indices[i-1][0], all_indices[i-1][1])]
            subdata = subdata.drop(index=indices_to_drop)
            subdata.reset_index()

        
        maximum_value = -10000000
        current_max = 0
        indices = [0, 1]
        s = 0
        
        for index, row in subdata.iterrows():
            current_max += row["rest_ratio"]

            if maximum_value < current_max:
                maximum_value = current_max
                indices[1] = row['original_index'] - 1
                indices[0] = s - 1

            if current_max < 0:
                current_max = 0
                s = row['original_index'] + 1
        all_indices.append(indices)
    return all_indices

In [115]:
get_nights(one_df)

[[58, 68], [9, 18], [36, 43]]

In [111]:
one_df = day_night_data[day_night_data.su_id == 10000100]

In [113]:
day_night_data.head(20)

    original_index     su_id             hr      hract  rest_ratio
0                1  10000100  2011-01-13 10  25.463415   -1.000000
1                2  10000100  2011-01-13 11  16.316667    0.000000
2                3  10000100  2011-01-13 12  29.433333   -0.533333
3                4  10000100  2011-01-13 13  50.150000   -1.000000
4                5  10000100  2011-01-13 14  25.683333   -1.000000
5                6  10000100  2011-01-13 15  39.150000   -1.000000
6                7  10000100  2011-01-13 16  91.750000   -1.000000
7                8  10000100  2011-01-13 17  95.616667   -1.000000
8                9  10000100  2011-01-13 18  49.283333   -1.000000
9               10  10000100  2011-01-13 19   3.116667    0.200000
10              11  10000100  2011-01-13 20  85.766667    1.000000
11              12  10000100  2011-01-13 21  24.483333    1.000000
12              13  10000100  2011-01-13 22   5.750000    1.000000
13              14  10000100  2011-01-13 23   0.650000    1.000000
14              15  10000100  2011-01-14 00  11.583333    1.000000
15              16  10000100  2011-01-14 01   8.166667    1.000000
16              17  10000100  2011-01-14 02   5.616667    1.000000
17              18  10000100  2011-01-14 03   9.200000    1.000000
18              19  10000100  2011-01-14 04  23.333333    1.000000
19              20  10000100  2011-01-14 05  16.300000   -0.533333

In [15]:
actigraphy_lists = day_night_data.to_numpy().tolist()

In [16]:
actigraphy_lists

[[1, 10000100, '2011-01-13 10', 25.4634146341463, 0.0, 0],
 [2, 10000100, '2011-01-13 11', 16.3166666666667, 0.5, 0],
 [3, 10000100, '2011-01-13 12', 29.4333333333333, 0.233333333333333, 0],
 [4, 10000100, '2011-01-13 13', 50.15, 0.0, 0],
 [5, 10000100, '2011-01-13 14', 25.6833333333333, 0.0, 0],
 [6, 10000100, '2011-01-13 15', 39.15, 0.0, 0],
 [7, 10000100, '2011-01-13 16', 91.75, 0.0, 0],
 [8, 10000100, '2011-01-13 17', 95.6166666666667, 0.0, 0],
 [9, 10000100, '2011-01-13 18', 49.2833333333333, 0.0, 0],
 [10, 10000100, '2011-01-13 19', 3.11666666666667, 0.6, 1],
 [11, 10000100, '2011-01-13 20', 85.7666666666667, 1.0, 1],
 [12, 10000100, '2011-01-13 21', 24.4833333333333, 1.0, 1],
 [13, 10000100, '2011-01-13 22', 5.75, 1.0, 1],
 [14, 10000100, '2011-01-13 23', 0.65, 1.0, 1],
 [15, 10000100, '2011-01-14 00', 11.5833333333333, 1.0, 1],
 [16, 10000100, '2011-01-14 01', 8.16666666666667, 1.0, 1],
 [17, 10000100, '2011-01-14 02', 5.61666666666667, 1.0, 1],
 [18, 10000100, '2011-01-14 03', 9.2, 1.0, 1],
 [19, 10000100, '2011-01-14 04', 23.3333333333333, 1.0, 1],
 [20, 10000100, '2011-01-14 05', 16.3, 0.233333333333333, 0],
 [21, 10000100, '2011-01-14 06', 93.15, 0.0, 0],
 [22, 10000100, '2011-01-14 07', 119.65, 0.0, 0],
 [23, 10000100, '2011-01-14 08', 33.3, 0.0, 0],
 [24, 10000100, '2011-01-14 09', 74.35, 0.0, 0],
 [25, 10000100, '2011-01-14 10', 101.85, 0.0, 0],
 [26, 10000100, '2011-01-14 11', 107.166666666667, 0.0, 0],
 [27, 10000100, '2011-01-14 12', 106.633333333333, 0.0, 0],
 [28, 10000100, '2011-01-14 13', 107.483333333333, 0.0, 0],
 [29, 10000100, '2011-01-14 14', 79.7833333333333, 0.0, 0],
 [30, 10000100, '2011-01-14 15', 83.2833333333333, 0.0, 0],
 [31, 10000100, '2011-01-14 16', 67.6333333333333, 0.0, 0],
 [32, 10000100, '2011-01-14 17', 51.65, 0.0, 0],
 [33, 10000100, '2011-01-14 18', 64.6833333333333, 0.0, 0],
 [34, 10000100, '2011-01-14 19', 31.8166666666667, 0.0, 0],
 [35, 10000100, '2011-01-14 20', 49.6333333333333, 0.0, 0],
 [36, 10000100, '2011-01-14 21', 61.9333333333333, 0.0, 0],
 [37, 10000100, '2011-01-14 22', 6.11666666666667, 1.0, 1],
 [38, 10000100, '2011-01-14 23', 4.13333333333333, 1.0, 1],
 [39, 10000100, '2011-01-15 00', 3.41666666666667, 1.0, 1],
 [40, 10000100, '2011-01-15 01', 5.66666666666667, 1.0, 1],
 [41, 10000100, '2011-01-15 02', 2.01666666666667, 1.0, 1],
 [42, 10000100, '2011-01-15 03', 15.9166666666667, 1.0, 1],
 [43, 10000100, '2011-01-15 04', 38.2333333333333, 1.0, 1],
 [44, 10000100, '2011-01-15 05', 11.9, 0.666666666666667, 1],
 [45, 10000100, '2011-01-15 06', 37.5666666666667, 0.0, 0],
 [46, 10000100, '2011-01-15 07', 84.55, 0.0, 0],
 [47, 10000100, '2011-01-15 08', 60.5166666666667, 0.0, 0],
 [48, 10000100, '2011-01-15 09', 67.5333333333333, 0.0, 0],
 [49, 10000100, '2011-01-15 10', 89.5, 0.0, 0],
 [50, 10000100, '2011-01-15 11', 23.2333333333333, 0.166666666666667, 0],
 [51, 10000100, '2011-01-15 12', 123.766666666667, 0.0, 0],
 [52, 10000100, '2011-01-15 13', 100.35, 0.0, 0],
 [53, 10000100, '2011-01-15 14', 42.6666666666667, 0.35, 0],
 [54, 10000100, '2011-01-15 15', 17.55, 0.25, 0],
 [55, 10000100, '2011-01-15 16', 28.2666666666667, 0.0, 0],
 [56, 10000100, '2011-01-15 17', 54.3, 0.0, 0],
 [57, 10000100, '2011-01-15 18', 56.7833333333333, 0.0, 0],
 [58, 10000100, '2011-01-15 19', 81.45, 0.0, 0],
 [59, 10000100, '2011-01-15 20', 4.33333333333333, 0.65, 1],
 [60, 10000100, '2011-01-15 21', 3.0, 1.0, 1],
 [61, 10000100, '2011-01-15 22', 1.93333333333333, 1.0, 1],
 [62, 10000100, '2011-01-15 23', 3.51666666666667, 1.0, 1],
 [63, 10000100, '2011-01-16 00', 2.31666666666667, 1.0, 1],
 [64, 10000100, '2011-01-16 01', 17.25, 1.0, 1],
 [65, 10000100, '2011-01-16 02', 20.0833333333333, 1.0, 1],
 [66, 10000100, '2011-01-16 03', 11.8333333333333, 1.0, 1],
 [67, 10000100, '2011-01-16 04', 5.16666666666667, 1.0, 1],
 [68, 10000100, '2011-01-16 05', 1.6, 1.0, 1],
 [69, 10000100, '2011-01-16 06', 8.71666666666667, 0.883333333333333, 1],
 [70, 10000100, '2011-01-16 07', 72.3333333333333, 0.0, 0],
 [71, 10000100, '2011-01-16 08', 163.233333333333, 0.0, 0],
 [72, 10000100, '2011-01-16 09', 86.7666666666667, 0.0, 0],
 [73, 10000100, '2011-01-16 10', 89.3684210526316, 0.0, 0],
 [74, 10000200, '2010-10-27 19', 185.383333333333, 0.0, 0],
 [75, 10000200, '2010-10-27 20', 49.7333333333333, 0.0, 0],
 [76, 10000200, '2010-10-27 21', 44.3166666666667, 0.0, 0],
 [77, 10000200, '2010-10-27 22', 120.116666666667, 0.0, 0],
 [78, 10000200, '2010-10-27 23', 14.15, 0.916666666666667, 1],
 [79, 10000200, '2010-10-28 00', 6.63333333333333, 1.0, 1],
 [80, 10000200, '2010-10-28 01', 5.08333333333333, 1.0, 1],
 [81, 10000200, '2010-10-28 02', 6.11666666666667, 1.0, 1],
 [82, 10000200, '2010-10-28 03', 5.83333333333333, 1.0, 1],
 [83, 10000200, '2010-10-28 04', 13.5333333333333, 1.0, 1],
 [84, 10000200, '2010-10-28 05', 0.316666666666667, 1.0, 1],
 [85, 10000200, '2010-10-28 06', 126.666666666667, 0.266666666666667, 0],
 [86, 10000200, '2010-10-28 07', 201.7, 0.0, 0],
 [87, 10000200, '2010-10-28 08', 195.866666666667, 0.0, 0],
 [88, 10000200, '2010-10-28 09', 110.033333333333, 0.0, 0],
 [89, 10000200, '2010-10-28 10', 167.883333333333, 0.0, 0],
 [90, 10000200, '2010-10-28 11', 177.3, 0.0, 0],
 [91, 10000200, '2010-10-28 12', 170.916666666667, 0.0, 0],
 [92, 10000200, '2010-10-28 13', 155.25, 0.0, 0],
 [93, 10000200, '2010-10-28 14', 56.7833333333333, 0.0, 0],
 [94, 10000200, '2010-10-28 15', 152.333333333333, 0.0, 0],
 [95, 10000200, '2010-10-28 16', 203.433333333333, 0.0, 0],
 [96, 10000200, '2010-10-28 17', 165.266666666667, 0.0, 0],
 [97, 10000200, '2010-10-28 18', 142.85, 0.0, 0],
 [98, 10000200, '2010-10-28 19', 135.716666666667, 0.0, 0],
 [99, 10000200, '2010-10-28 20', 149.433333333333, 0.0, 0],
 [100, 10000200, '2010-10-28 21', 74.2333333333333, 0.0, 0],
 [101, 10000200, '2010-10-28 22', 18.8333333333333, 0.933333333333333, 1],
 [102, 10000200, '2010-10-28 23', 2.43333333333333, 1.0, 1],
 [103, 10000200, '2010-10-29 00', 7.56666666666667, 1.0, 1],
 [104, 10000200, '2010-10-29 01', 1.83333333333333, 1.0, 1],
 [105, 10000200, '2010-10-29 02', 1.6, 1.0, 1],
 [106, 10000200, '2010-10-29 03', 2.08333333333333, 1.0, 1],
 [107, 10000200, '2010-10-29 04', 1.85, 1.0, 1],
 [108, 10000200, '2010-10-29 05', 131.066666666667, 0.2, 0],
 [109, 10000200, '2010-10-29 06', 134.6, 0.0, 0],
 [110, 10000200, '2010-10-29 07', 189.883333333333, 0.0, 0],
 [111, 10000200, '2010-10-29 08', 190.183333333333, 0.0, 0],
 [112, 10000200, '2010-10-29 09', 221.166666666667, 0.0, 0],
 [113, 10000200, '2010-10-29 10', 161.05, 0.0, 0],
 [114, 10000200, '2010-10-29 11', 192.883333333333, 0.0, 0],
 [115, 10000200, '2010-10-29 12', 183.45, 0.0, 0],
 [116, 10000200, '2010-10-29 13', 168.733333333333, 0.0, 0],
 [117, 10000200, '2010-10-29 14', 154.283333333333, 0.0, 0],
 [118, 10000200, '2010-10-29 15', 168.6, 0.0, 0],
 [119, 10000200, '2010-10-29 16', 133.366666666667, 0.0, 0],
 [120, 10000200, '2010-10-29 17', 119.85, 0.0, 0],
 [121, 10000200, '2010-10-29 18', 64.1166666666667, 0.0, 0],
 [122, 10000200, '2010-10-29 19', 38.2666666666667, 0.0, 0],
 [123, 10000200, '2010-10-29 20', 32.75, 0.0, 0],
 [124, 10000200, '2010-10-29 21', 3.56666666666667, 0.816666666666667, 1],
 [125, 10000200, '2010-10-29 22', 26.1, 1.0, 1],
 [126, 10000200, '2010-10-29 23', 7.45, 1.0, 1],
 [127, 10000200, '2010-10-30 00', 6.2, 1.0, 1],
 [128, 10000200, '2010-10-30 01', 0.7, 1.0, 1],
 [129, 10000200, '2010-10-30 02', 11.55, 1.0, 1],
 [130, 10000200, '2010-10-30 03', 8.15, 1.0, 1],
 [131, 10000200, '2010-10-30 04', 6.08333333333333, 1.0, 1],
 [132, 10000200, '2010-10-30 05', 2.93333333333333, 1.0, 1],
 [133, 10000200, '2010-10-30 06', 7.4, 1.0, 1],
 [134, 10000200, '2010-10-30 07', 28.1730769230769, 0.538461538461538, 1],
 [135, 10000300, '2010-10-06 10', 61.72, 0.0, 0],
 [136, 10000300, '2010-10-06 11', 48.4166666666667, 0.0, 0],
 [137, 10000300, '2010-10-06 12', 34.7666666666667, 0.0, 0],
 [138, 10000300, '2010-10-06 13', 69.5, 0.0, 0],
 [139, 10000300, '2010-10-06 14', 65.9666666666667, 0.0, 0],
 [140, 10000300, '2010-10-06 15', 68.2833333333333, 0.0, 0],
 [141, 10000300, '2010-10-06 16', 28.5333333333333, 0.0, 0],
 [142, 10000300, '2010-10-06 17', 80.55, 0.0, 0],
 [143, 10000300, '2010-10-06 18', 29.7666666666667, 0.0, 0],
 [144, 10000300, '2010-10-06 19', 21.1333333333333, 0.0, 0],
 [145, 10000300, '2010-10-06 20', 33.0, 0.0, 0],
 [146, 10000300, '2010-10-06 21', 32.8333333333333, 0.0, 0],
 [147, 10000300, '2010-10-06 22', 20.9, 0.0, 0],
 [148, 10000300, '2010-10-06 23', 66.8, 0.0833333333333333, 0],
 [149, 10000300, '2010-10-07 00', 0.583333333333333, 1.0, 1],
 [150, 10000300, '2010-10-07 01', 14.1333333333333, 1.0, 1],
 [151, 10000300, '2010-10-07 02', 15.15, 1.0, 1],
 [152, 10000300, '2010-10-07 03', 2.98333333333333, 1.0, 1],
 [153, 10000300, '2010-10-07 04', 11.6, 1.0, 1],
 [154, 10000300, '2010-10-07 05', 3.68333333333333, 1.0, 1],
 [155, 10000300, '2010-10-07 06', 97.8166666666667, 0.0, 0],
 [156, 10000300, '2010-10-07 07', 40.4666666666667, 0.0, 0],
 [157, 10000300, '2010-10-07 08', 49.4, 0.0, 0],
 [158, 10000300, '2010-10-07 09', 89.6666666666667, 0.0, 0],
 [159, 10000300, '2010-10-07 10', 24.5333333333333, 0.383333333333333, 0],
 [160, 10000300, '2010-10-07 11', 44.1333333333333, 0.0, 0],
 [161, 10000300, '2010-10-07 12', 37.95, 0.0, 0],
 [162, 10000300, '2010-10-07 13', 100.55, 0.0, 0],
 [163, 10000300, '2010-10-07 14', 48.3833333333333, 0.0, 0],
 [164, 10000300, '2010-10-07 15', 28.4, 0.0, 0],
 [165, 10000300, '2010-10-07 16', 24.9166666666667, 0.0, 0],
 [166, 10000300, '2010-10-07 17', 26.2666666666667, 0.0, 0],
 [167, 10000300, '2010-10-07 18', 75.4833333333333, 0.0, 0],
 [168, 10000300, '2010-10-07 19', 23.15, 0.0, 0],
 [169, 10000300, '2010-10-07 20', 51.6666666666667, 0.0, 0],
 [170, 10000300, '2010-10-07 21', 51.6166666666667, 0.0, 0],
 [171, 10000300, '2010-10-07 22', 49.75, 0.0, 0],
 [172, 10000300, '2010-10-07 23', 1.35, 0.916666666666667, 1],
 [173, 10000300, '2010-10-08 00', 44.5666666666667, 1.0, 1],
 [174, 10000300, '2010-10-08 01', 12.5166666666667, 1.0, 1],
 [175, 10000300, '2010-10-08 02', 13.4, 1.0, 1],
 [176, 10000300, '2010-10-08 03', 59.35, 1.0, 1],
 [177, 10000300, '2010-10-08 04', 46.4333333333333, 1.0, 1],
 [178, 10000300, '2010-10-08 05', 52.0666666666667, 1.0, 1],
 [179, 10000300, '2010-10-08 06', 17.7666666666667, 1.0, 1],
 [180, 10000300, '2010-10-08 07', 21.2, 0.366666666666667, 0],
 [181, 10000300, '2010-10-08 08', 46.2, 0.0, 0],
 [182, 10000300, '2010-10-08 09', 106.766666666667, 0.0, 0],
 [183, 10000300, '2010-10-08 10', 6.31666666666667, 0.633333333333333, 1],
 [184, 10000300, '2010-10-08 11', 63.4166666666667, 0.0, 0],
 [185, 10000300, '2010-10-08 12', 54.15, 0.0, 0],
 [186, 10000300, '2010-10-08 13', 65.5666666666667, 0.0, 0],
 [187, 10000300, '2010-10-08 14', 31.75, 0.0, 0],
 [188, 10000300, '2010-10-08 15', 1.25, 0.0, 0],
 [189, 10000300, '2010-10-08 16', 37.0333333333333, 0.0, 0],
 [190, 10000300, '2010-10-08 17', 45.8666666666667, 0.0, 0],
 [191, 10000300, '2010-10-08 18', 26.0333333333333, 0.0, 0],
 [192, 10000300, '2010-10-08 19', 31.8166666666667, 0.0, 0],
 [193, 10000300, '2010-10-08 20', 26.4833333333333, 0.0, 0],
 [194, 10000300, '2010-10-08 21', 53.2333333333333, 0.0, 0],
 [195, 10000300, '2010-10-08 22', 14.1166666666667, 0.866666666666667, 1],
 [196, 10000300, '2010-10-08 23', 11.35, 1.0, 1],
 [197, 10000300, '2010-10-09 00', 9.28333333333333, 1.0, 1],
 [198, 10000300, '2010-10-09 01', 8.81666666666667, 1.0, 1],
 [199, 10000300, '2010-10-09 02', 12.6333333333333, 1.0, 1],
 [200, 10000300, '2010-10-09 03', 10.5333333333333, 1.0, 1],
 [201, 10000300, '2010-10-09 04', 12.4666666666667, 1.0, 1],
 [202, 10000300, '2010-10-09 05', 22.5333333333333, 1.0, 1],
 [203, 10000300, '2010-10-09 06', 5.21666666666667, 1.0, 1],
 [204, 10000300, '2010-10-09 07', 73.5333333333333, 0.35, 0],
 [205, 10000300, '2010-10-09 08', 71.9, 0.0, 0],
 [206, 10000330, '2010-11-12 16', 56.0909090909091, 0.0, 0],
 [207, 10000330, '2010-11-12 17', 32.8333333333333, 0.0, 0],
 [208, 10000330, '2010-11-12 18', 38.0333333333333, 0.0, 0],
 [209, 10000330, '2010-11-12 19', 24.1666666666667, 0.0, 0],
 [210, 10000330, '2010-11-12 20', 18.7166666666667, 0.0, 0],
 [211, 10000330, '2010-11-12 21', 19.2666666666667, 0.0, 0],
 [212, 10000330, '2010-11-12 22', 9.33333333333333, 0.0, 0],
 [213, 10000330, '2010-11-12 23', 14.9333333333333, 0.0, 0],
 [214, 10000330, '2010-11-13 00', 35.15, 0.0, 0],
 [215, 10000330, '2010-11-13 01', 16.5166666666667, 0.0, 0],
 [216, 10000330, '2010-11-13 02', 23.3166666666667, 0.0, 0],
 [217, 10000330, '2010-11-13 03', 30.6166666666667, 0.0, 0],
 [218, 10000330, '2010-11-13 04', 8.8, 0.0, 0],
 [219, 10000330, '2010-11-13 05', 11.3333333333333, 0.15, 0],
 [220, 10000330, '2010-11-13 06', 37.0166666666667, 0.0, 0],
 [221, 10000330, '2010-11-13 07', 56.6333333333333, 0.0, 0],
 [222, 10000330, '2010-11-13 08', 46.2333333333333, 0.0, 0],
 [223, 10000330, '2010-11-13 09', 77.3166666666667, 0.0, 0],
 [224, 10000330, '2010-11-13 10', 97.3333333333333, 0.0, 0],
 [225, 10000330, '2010-11-13 11', 50.0333333333333, 0.0, 0],
 [226, 10000330, '2010-11-13 12', 29.05, 0.0, 0],
 [227, 10000330, '2010-11-13 13', 34.5833333333333, 0.0, 0],
 [228, 10000330, '2010-11-13 14', 53.8833333333333, 0.0, 0],
 [229, 10000330, '2010-11-13 15', 29.05, 0.0, 0],
 [230, 10000330, '2010-11-13 16', 36.7, 0.0, 0],
 [231, 10000330, '2010-11-13 17', 62.8166666666667, 0.0, 0],
 [232, 10000330, '2010-11-13 18', 30.7166666666667, 0.0, 0],
 [233, 10000330, '2010-11-13 19', 45.6, 0.0, 0],
 [234, 10000330, '2010-11-13 20', 27.55, 0.0, 0],
 [235, 10000330, '2010-11-13 21', 21.5333333333333, 0.0, 0],
 [236, 10000330, '2010-11-13 22', 7.93333333333333, 0.316666666666667, 0],
 [237, 10000330, '2010-11-13 23', 32.15, 0.0, 0],
 [238, 10000330, '2010-11-14 00', 39.5, 0.0, 0],
 [239, 10000330, '2010-11-14 01', 18.0, 0.0, 0],
 [240, 10000330, '2010-11-14 02', 19.9666666666667, 0.0, 0],
 [241, 10000330, '2010-11-14 03', 26.3666666666667, 0.0, 0],
 [242, 10000330, '2010-11-14 04', 33.2, 0.0, 0],
 [243, 10000330, '2010-11-14 05', 26.8, 0.0, 0],
 [244, 10000330, '2010-11-14 06', 48.55, 0.0, 0],
 [245, 10000330, '2010-11-14 07', 135.683333333333, 0.0, 0],
 [246, 10000330, '2010-11-14 08', 58.7333333333333, 0.0, 0],
 [247, 10000330, '2010-11-14 09', 82.2833333333333, 0.0, 0],
 [248, 10000330, '2010-11-14 10', 36.6333333333333, 0.0, 0],
 [249, 10000330, '2010-11-14 11', 129.866666666667, 0.0, 0],
 [250, 10000330, '2010-11-14 12', 229.1, 0.0, 0],
 [251, 10000330, '2010-11-14 13', 42.3833333333333, 0.0, 0],
 [252, 10000330, '2010-11-14 14', 121.15, 0.0, 0],
 [253, 10000330, '2010-11-14 15', 32.9666666666667, 0.0, 0],
 [254, 10000330, '2010-11-14 16', 195.55, 0.0, 0],
 [255, 10000330, '2010-11-14 17', 33.5666666666667, 0.35, 0],
 [256, 10000330, '2010-11-14 18', 29.9833333333333, 0.0, 0],
 [257, 10000330, '2010-11-14 19', 62.7, 0.0, 0],
 [258, 10000330, '2010-11-14 20', 42.7666666666667, 0.0, 0],
 [259, 10000330, '2010-11-14 21', 14.2166666666667, 0.0, 0],
 [260, 10000330, '2010-11-14 22', 14.1833333333333, 0.0, 0],
 [261, 10000330, '2010-11-14 23', 33.9166666666667, 0.0, 0],
 [262, 10000330, '2010-11-15 00', 22.1833333333333, 0.616666666666667, 1],
 [263, 10000330, '2010-11-15 01', 18.6666666666667, 1.0, 1],
 [264, 10000330, '2010-11-15 02', 11.6166666666667, 1.0, 1],
 [265, 10000330, '2010-11-15 03', 17.3333333333333, 1.0, 1],
 [266, 10000330, '2010-11-15 04', 57.25, 1.0, 1],
 [267, 10000330, '2010-11-15 05', 54.5333333333333, 1.0, 1],
 [268, 10000330, '2010-11-15 06', 23.3166666666667, 1.0, 1],
 [269, 10000330, '2010-11-15 07', 3.41666666666667, 0.366666666666667, 0],
 [270, 10000330, '2010-11-15 08', 61.9666666666667, 0.0, 0],
 [271, 10000330, '2010-11-15 09', 30.2833333333333, 0.0, 0],
 [272, 10000330, '2010-11-15 10', 6.81666666666667, 0.0, 0],
 [273, 10000330, '2010-11-15 11', 18.95, 0.0, 0],
 [274, 10000330, '2010-11-15 12', 61.1, 0.0, 0],
 [275, 10000330, '2010-11-15 13', 26.1833333333333, 0.0, 0],
 [276, 10000330, '2010-11-15 14', 26.6833333333333, 0.0, 0],
 [277, 10000330, '2010-11-15 15', 21.6, 0.0, 0],
 [278, 10000330, '2010-11-15 16', 10.625, 0.0, 0],
 [279, 10000390, '2011-01-27 21', 52.0612244897959, 0.0, 0],
 [280, 10000390, '2011-01-27 22', 15.6, 0.0, 0],
 [281, 10000390, '2011-01-27 23', 19.8166666666667, 0.0, 0],
 [282, 10000390, '2011-01-28 00', 29.1666666666667, 0.0, 0],
 [283, 10000390, '2011-01-28 01', 38.2666666666667, 0.0, 0],
 [284, 10000390, '2011-01-28 02', 13.8166666666667, 0.0, 0],
 [285, 10000390, '2011-01-28 03', 10.3666666666667, 0.0, 0],
 [286, 10000390, '2011-01-28 04', 25.05, 0.0, 0],
 [287, 10000390, '2011-01-28 05', 5.2, 0.933333333333333, 1],
 [288, 10000390, '2011-01-28 06', 7.0, 1.0, 1],
 [289, 10000390, '2011-01-28 07', 13.4, 1.0, 1],
 [290, 10000390, '2011-01-28 08', 5.3, 0.816666666666667, 1],
 [291, 10000390, '2011-01-28 09', 9.35, 0.0, 0],
 [292, 10000390, '2011-01-28 10', 116.55, 0.0, 0],
 [293, 10000390, '2011-01-28 11', 80.2166666666667, 0.0, 0],
 [294, 10000390, '2011-01-28 12', 103.0, 0.0, 0],
 [295, 10000390, '2011-01-28 13', 124.7, 0.0, 0],
 [296, 10000390, '2011-01-28 14', 97.4833333333333, 0.0, 0],
 [297, 10000390, '2011-01-28 15', 93.9, 0.0, 0],
 [298, 10000390, '2011-01-28 16', 85.5833333333333, 0.0, 0],
 [299, 10000390, '2011-01-28 17', 87.5666666666667, 0.0, 0],
 [300, 10000390, '2011-01-28 18', 114.833333333333, 0.0, 0],
 [301, 10000390, '2011-01-28 19', 109.6, 0.0, 0],
 [302, 10000390, '2011-01-28 20', 32.0166666666667, 0.0, 0],
 [303, 10000390, '2011-01-28 21', 13.35, 0.0, 0],
 [304, 10000390, '2011-01-28 22', 62.5833333333333, 0.0, 0],
 [305, 10000390, '2011-01-28 23', 47.85, 0.0, 0],
 [306, 10000390, '2011-01-29 00', 46.6666666666667, 0.0, 0],
 [307, 10000390, '2011-01-29 01', 19.0666666666667, 0.0, 0],
 [308, 10000390, '2011-01-29 02', 25.8333333333333, 0.0, 0],
 [309, 10000390, '2011-01-29 03', 16.5666666666667, 0.65, 1],
 [310, 10000390, '2011-01-29 04', 16.5833333333333, 1.0, 1],
 [311, 10000390, '2011-01-29 05', 19.6833333333333, 1.0, 1],
 [312, 10000390, '2011-01-29 06', 10.0333333333333, 1.0, 1],
 [313, 10000390, '2011-01-29 07', 21.3333333333333, 1.0, 1],
 [314, 10000390, '2011-01-29 08', 12.2166666666667, 1.0, 1],
 [315, 10000390, '2011-01-29 09', 11.65, 0.5, 0],
 [316, 10000390, '2011-01-29 10', 36.8, 0.0, 0],
 [317, 10000390, '2011-01-29 11', 171.933333333333, 0.0, 0],
 [318, 10000390, '2011-01-29 12', 89.0333333333333, 0.0, 0],
 [319, 10000390, '2011-01-29 13', 100.583333333333, 0.0, 0],
 [320, 10000390, '2011-01-29 14', 115.983333333333, 0.0, 0],
 [321, 10000390, '2011-01-29 15', 99.1833333333333, 0.0, 0],
 [322, 10000390, '2011-01-29 16', 105.333333333333, 0.0, 0],
 [323, 10000390, '2011-01-29 17', 117.3, 0.0, 0],
 [324, 10000390, '2011-01-29 18', 130.8, 0.0, 0],
 [325, 10000390, '2011-01-29 19', 60.2166666666667, 0.0, 0],
 [326, 10000390, '2011-01-29 20', 51.55, 0.0, 0],
 [327, 10000390, '2011-01-29 21', 18.9666666666667, 0.0, 0],
 [328, 10000390, '2011-01-29 22', 54.85, 0.0, 0],
 [329, 10000390, '2011-01-29 23', 37.95, 0.0, 0],
 [330, 10000390, '2011-01-30 00', 45.9, 0.0, 0],
 [331, 10000390, '2011-01-30 01', 29.9, 0.0, 0],
 [332, 10000390, '2011-01-30 02', 17.1666666666667, 0.0, 0],
 [333, 10000390, '2011-01-30 03', 5.3, 0.0, 0],
 [334, 10000390, '2011-01-30 04', 10.7166666666667, 0.25, 0],
 [335, 10000390, '2011-01-30 05', 14.1666666666667, 0.0, 0],
 [336, 10000390, '2011-01-30 06', 16.0, 0.0, 0],
 [337, 10000390, '2011-01-30 07', 16.4333333333333, 0.0, 0],
 [338, 10000390, '2011-01-30 08', 41.5833333333333, 0.0, 0],
 [339, 10000390, '2011-01-30 09', 29.3428571428571, 0.0, 0],
 [340, 10000391, '2011-01-10 23', 51.7547169811321, 0.0, 0],
 [341, 10000391, '2011-01-11 00', 7.41666666666667, 0.883333333333333, 1],
 [342, 10000391, '2011-01-11 01', 24.1666666666667, 1.0, 1],
 [343, 10000391, '2011-01-11 02', 30.2, 0.716666666666667, 1],
 [344, 10000391, '2011-01-11 03', 30.9833333333333, 0.0, 0],
 [345, 10000391, '2011-01-11 04', 47.1607142857143, 0.0, 0],

In [ ]:
prior_suid = 10000100

prior_score = 0 

day_num = 1 
night_num = 1

for row in actigraphy_lists: 
    
    #if same person
    if row[1] == prior_suid: 
        
        
        #determine what day/night we're on
        
        #this doesn't account for waking time during the night or vice versa... 

        if row[5] == 0:
            #if it's equal to the prior score then we're on the same day
            if row[5] == prior_score:
                row.append(day_num)
                #reset prior score
                prior_score = row[5]
            else:
            #if it's not equal to the prior score, then we're on a new day
                day_num+=1
                row.append(day_num)
                #reset prior score
                prior_score = row[5]

    
        
        if row[5] == 1:
            if row[5] == prior_score: 
                row.append(night_num)
    
    else:
        #start this loop again

In [17]:
one_df

,Unnamed: 0,su_id,hr,hract,rest_ratio,rest_indicator
0,1,10000100,2011-01-13 10,25.463415,0.000000,0
1,2,10000100,2011-01-13 11,16.316667,0.500000,0
2,3,10000100,2011-01-13 12,29.433333,0.233333,0
3,4,10000100,2011-01-13 13,50.150000,0.000000,0
4,5,10000100,2011-01-13 14,25.683333,0.000000,0
...,...,...,...,...,...,...
68,69,10000100,2011-01-16 06,8.716667,0.883333,1
69,70,10000100,2011-01-16 07,72.333333,0.000000,0
70,71,10000100,2011-01-16 08,163.233333,0.000000,0
71,72,10000100,2011-01-16 09,86.766667,0.000000,0
72,73,10000100,2011-01-16 10,89.368421,0.000000,0

In [14]:
#want to loop through for each SU_ID and label whether it's night 1, day 1, night 2, day 2, night 3, day 3 

for index, row in one_df.iterrows():
    print(row)

Unnamed: 0                    1
su_id                  10000100
hr                2011-01-13 10
hract                 25.463415
rest_ratio                  0.0
rest_indicator                0
Name: 0, dtype: object
Unnamed: 0                    2
su_id                  10000100
hr                2011-01-13 11
hract                 16.316667
rest_ratio                  0.5
rest_indicator                0
Name: 1, dtype: object
Unnamed: 0                    3
su_id                  10000100
hr                2011-01-13 12
hract                 29.433333
rest_ratio             0.233333
rest_indicator                0
Name: 2, dtype: object
Unnamed: 0                    4
su_id                  10000100
hr                2011-01-13 13
hract                     50.15
rest_ratio                  0.0
rest_indicator                0
Name: 3, dtype: object
Unnamed: 0                    5
su_id                  10000100
hr                2011-01-13 14
hract                 25.683333
rest_ratio                  0.0
rest_indicator                0
Name: 4, dtype: object
Unnamed: 0                    6
su_id                  10000100
hr                2011-01-13 15
hract                     39.15
rest_ratio                  0.0
rest_indicator                0
Name: 5, dtype: object
Unnamed: 0                    7
su_id                  10000100
hr                2011-01-13 16
hract                     91.75
rest_ratio                  0.0
rest_indicator                0
Name: 6, dtype: object
Unnamed: 0                    8
su_id                  10000100
hr                2011-01-13 17
hract                 95.616667
rest_ratio                  0.0
rest_indicator                0
Name: 7, dtype: object
Unnamed: 0                    9
su_id                  10000100
hr                2011-01-13 18
hract                 49.283333
rest_ratio                  0.0
rest_indicator                0
Name: 8, dtype: object
Unnamed: 0                   10
su_id                  10000100
hr                2011-01-13 19
hract                  3.116667
rest_ratio                  0.6
rest_indicator                1
Name: 9, dtype: object
Unnamed: 0                   11
su_id                  10000100
hr                2011-01-13 20
hract                 85.766667
rest_ratio                  1.0
rest_indicator                1
Name: 10, dtype: object
Unnamed: 0                   12
su_id                  10000100
hr                2011-01-13 21
hract                 24.483333
rest_ratio                  1.0
rest_indicator                1
Name: 11, dtype: object
Unnamed: 0                   13
su_id                  10000100
hr                2011-01-13 22
hract                      5.75
rest_ratio                  1.0
rest_indicator                1
Name: 12, dtype: object
Unnamed: 0                   14
su_id                  10000100
hr                2011-01-13 23
hract                      0.65
rest_ratio                  1.0
rest_indicator                1
Name: 13, dtype: object
Unnamed: 0                   15
su_id                  10000100
hr                2011-01-14 00
hract                 11.583333
rest_ratio                  1.0
rest_indicator                1
Name: 14, dtype: object
Unnamed: 0                   16
su_id                  10000100
hr                2011-01-14 01
hract                  8.166667
rest_ratio                  1.0
rest_indicator                1
Name: 15, dtype: object
Unnamed: 0                   17
su_id                  10000100
hr                2011-01-14 02
hract                  5.616667
rest_ratio                  1.0
rest_indicator                1
Name: 16, dtype: object
Unnamed: 0                   18
su_id                  10000100
hr                2011-01-14 03
hract                       9.2
rest_ratio                  1.0
rest_indicator                1
Name: 17, dtype: object
Unnamed: 0                   19
su_id                  10000100
hr                2011-01-14 04
hract                 23.333333
rest_ratio                  1.0
rest_indicator                1
Name: 18, dtype: object
Unnamed: 0                   20
su_id                  10000100
hr                2011-01-14 05
hract                      16.3
rest_ratio             0.233333
rest_indicator                0
Name: 19, dtype: object
Unnamed: 0                   21
su_id                  10000100
hr                2011-01-14 06
hract                     93.15
rest_ratio                  0.0
rest_indicator                0
Name: 20, dtype: object
Unnamed: 0                   22
su_id                  10000100
hr                2011-01-14 07
hract                    119.65
rest_ratio                  0.0
rest_indicator                0
Name: 21, dtype: object
Unnamed: 0                   23
su_id                  10000100
hr                2011-01-14 08
hract                      33.3
rest_ratio                  0.0
rest_indicator                0
Name: 22, dtype: object
Unnamed: 0                   24
su_id                  10000100
hr                2011-01-14 09
hract                     74.35
rest_ratio                  0.0
rest_indicator                0
Name: 23, dtype: object
Unnamed: 0                   25
su_id                  10000100
hr                2011-01-14 10
hract                    101.85
rest_ratio                  0.0
rest_indicator                0
Name: 24, dtype: object
Unnamed: 0                   26
su_id                  10000100
hr                2011-01-14 11
hract                107.166667
rest_ratio                  0.0
rest_indicator                0
Name: 25, dtype: object
Unnamed: 0                   27
su_id                  10000100
hr                2011-01-14 12
hract                106.633333
rest_ratio                  0.0
rest_indicator                0
Name: 26, dtype: object
Unnamed: 0                   28
su_id                  10000100
hr                2011-01-14 13
hract                107.483333
rest_ratio                  0.0
rest_indicator                0
Name: 27, dtype: object
Unnamed: 0                   29
su_id                  10000100
hr                2011-01-14 14
hract                 79.783333
rest_ratio                  0.0
rest_indicator                0
Name: 28, dtype: object
Unnamed: 0                   30
su_id                  10000100
hr                2011-01-14 15
hract                 83.283333
rest_ratio                  0.0
rest_indicator                0
Name: 29, dtype: object
Unnamed: 0                   31
su_id                  10000100
hr                2011-01-14 16
hract                 67.633333
rest_ratio                  0.0
rest_indicator                0
Name: 30, dtype: object
Unnamed: 0                   32
su_id                  10000100
hr                2011-01-14 17
hract                     51.65
rest_ratio                  0.0
rest_indicator                0
Name: 31, dtype: object
Unnamed: 0                   33
su_id                  10000100
hr                2011-01-14 18
hract                 64.683333
rest_ratio                  0.0
rest_indicator                0
Name: 32, dtype: object
Unnamed: 0                   34
su_id                  10000100
hr                2011-01-14 19
hract                 31.816667
rest_ratio                  0.0
rest_indicator                0
Name: 33, dtype: object
Unnamed: 0                   35
su_id                  10000100
hr                2011-01-14 20
hract                 49.633333
rest_ratio                  0.0
rest_indicator                0
Name: 34, dtype: object
Unnamed: 0                   36
su_id                  10000100
hr                2011-01-14 21
hract                 61.933333
rest_ratio                  0.0
rest_indicator                0
Name: 35, dtype: object
Unnamed: 0                   37
su_id                  10000100
hr                2011-01-14 22
hract                  6.116667
rest_ratio                  1.0
rest_indicator                1
Name: 36, dtype: object
Unnamed: 0                   38
su_id                  10000100
hr                2011-01-14 23
hract                  4.133333
rest_ratio                  1.0
rest_indicator                1
Name: 37, dtype: object
Unnamed: 0                   39
su_id                  10000100
hr                2011-01-15 00
hract                  3.416667
rest_ratio                  1.0
rest_indicator                1
Name: 38, dtype: object
Unnamed: 0                   40
su_id                  10000100
hr                2011-01-15 01
hract                  5.666667
rest_ratio                  1.0
rest_indicator                1
Name: 39, dtype: object
Unnamed: 0                   41
su_id                  10000100
hr                2011-01-15 02
hract                  2.016667
rest_ratio                  1.0
rest_indicator                1
Name: 40, dtype: object
Unnamed: 0                   42
su_id                  10000100
hr                2011-01-15 03
hract                 15.916667
rest_ratio                  1.0
rest_indicator                1
Name: 41, dtype: object
Unnamed: 0                   43
su_id                  10000100
hr                2011-01-15 04
hract                 38.233333
rest_ratio                  1.0
rest_indicator                1
Name: 42, dtype: object
Unnamed: 0                   44
su_id                  10000100
hr                2011-01-15 05
hract                      11.9
rest_ratio             0.666667
rest_indicator                1
Name: 43, dtype: object
Unnamed: 0                   45
su_id                  10000100
hr                2011-01-15 06
hract                 37.566667
rest_ratio                  0.0
rest_indicator                0
Name: 44, dtype: object
Unnamed: 0                   46
su_id                  10000100
hr                2011-01-15 07
hract                     84.55
rest_ratio                  0.0
rest_indicator                0
Name: 45, dtype: object
Unnamed: 0                   47
su_id                  10000100
hr                2011-01-15 08
hract                 60.516667
rest_ratio                  0.0
rest_indicator                0
Name: 46, dtype: object
Unnamed: 0                   48
su_id                  10000100
hr                2011-01-15 09
hract                 67.533333
rest_ratio                  0.0
rest_indicator                0
Name: 47, dtype: object
Unnamed: 0                   49
su_id                  10000100
hr                2011-01-15 10
hract                      89.5
rest_ratio                  0.0
rest_indicator                0
Name: 48, dtype: object
Unnamed: 0                   50
su_id                  10000100
hr                2011-01-15 11
hract                 23.233333
rest_ratio             0.166667
rest_indicator                0
Name: 49, dtype: object
Unnamed: 0                   51
su_id                  10000100
hr                2011-01-15 12
hract                123.766667
rest_ratio                  0.0
rest_indicator                0
Name: 50, dtype: object
Unnamed: 0                   52
su_id                  10000100
hr                2011-01-15 13
hract                    100.35
rest_ratio                  0.0
rest_indicator                0
Name: 51, dtype: object
Unnamed: 0                   53
su_id                  10000100
hr                2011-01-15 14
hract                 42.666667
rest_ratio                 0.35
rest_indicator                0
Name: 52, dtype: object
Unnamed: 0                   54
su_id                  10000100
hr                2011-01-15 15
hract                     17.55
rest_ratio                 0.25
rest_indicator                0
Name: 53, dtype: object
Unnamed: 0                   55
su_id                  10000100
hr                2011-01-15 16
hract                 28.266667
rest_ratio                  0.0
rest_indicator                0
Name: 54, dtype: object
Unnamed: 0                   56
su_id                  10000100
hr                2011-01-15 17
hract                      54.3
rest_ratio                  0.0
rest_indicator                0
Name: 55, dtype: object
Unnamed: 0                   57
su_id                  10000100
hr                2011-01-15 18
hract                 56.783333
rest_ratio                  0.0
rest_indicator                0
Name: 56, dtype: object
Unnamed: 0                   58
su_id                  10000100
hr                2011-01-15 19
hract                     81.45
rest_ratio                  0.0
rest_indicator                0
Name: 57, dtype: object
Unnamed: 0                   59
su_id                  10000100
hr                2011-01-15 20
hract                  4.333333
rest_ratio                 0.65
rest_indicator                1
Name: 58, dtype: object
Unnamed: 0                   60
su_id                  10000100
hr                2011-01-15 21
hract                       3.0
rest_ratio                  1.0
rest_indicator                1
Name: 59, dtype: object
Unnamed: 0                   61
su_id                  10000100
hr                2011-01-15 22
hract                  1.933333
rest_ratio                  1.0
rest_indicator                1
Name: 60, dtype: object
Unnamed: 0                   62
su_id                  10000100
hr                2011-01-15 23
hract                  3.516667
rest_ratio                  1.0
rest_indicator                1
Name: 61, dtype: object
Unnamed: 0                   63
su_id                  10000100
hr                2011-01-16 00
hract                  2.316667
rest_ratio                  1.0
rest_indicator                1
Name: 62, dtype: object
Unnamed: 0                   64
su_id                  10000100
hr                2011-01-16 01
hract                     17.25
rest_ratio                  1.0
rest_indicator                1
Name: 63, dtype: object
Unnamed: 0                   65
su_id                  10000100
hr                2011-01-16 02
hract                 20.083333
rest_ratio                  1.0
rest_indicator                1
Name: 64, dtype: object
Unnamed: 0                   66
su_id                  10000100
hr                2011-01-16 03
hract                 11.833333
rest_ratio                  1.0
rest_indicator                1
Name: 65, dtype: object
Unnamed: 0                   67
su_id                  10000100
hr                2011-01-16 04
hract                  5.166667
rest_ratio                  1.0
rest_indicator                1
Name: 66, dtype: object
Unnamed: 0                   68
su_id                  10000100
hr                2011-01-16 05
hract                       1.6
rest_ratio                  1.0
rest_indicator                1
Name: 67, dtype: object
Unnamed: 0                   69
su_id                  10000100
hr                2011-01-16 06
hract                  8.716667
rest_ratio             0.883333
rest_indicator                1
Name: 68, dtype: object
Unnamed: 0                   70
su_id                  10000100
hr                2011-01-16 07
hract                 72.333333
rest_ratio                  0.0
rest_indicator                0
Name: 69, dtype: object
Unnamed: 0                   71
su_id                  10000100
hr                2011-01-16 08
hract                163.233333
rest_ratio                  0.0
rest_indicator                0
Name: 70, dtype: object
Unnamed: 0                   72
su_id                  10000100
hr                2011-01-16 09
hract                 86.766667
rest_ratio                  0.0
rest_indicator                0
Name: 71, dtype: object
Unnamed: 0                   73
su_id                  10000100
hr                2011-01-16 10
hract                 89.368421
rest_ratio                  0.0
rest_indicator                0
Name: 72, dtype: object